*[class="nav"] {
  text-align: center;
  color: aqua;
  size: 20px;
}

h1{
    background-color: #153448;
    text-align: left;
    font-variant: small-caps;
}

body {
    color: black;
    background-color: #3C5B6F;
}
